* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
 
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: transparent;
}
.bx {
  width: 450px !important;
  height: 450px !important;
  border: 4px solid black;
  background-image: linear-gradient(to bottom, rgb(165, 165, 165), rgba(248, 248, 175, 0.781),rgb(161, 161, 161));
}
p {
  color: black;
  transition: all 0.3s ease-in;
}
p:hover {
  letter-spacing: 3px;
}

button:focus {
  box-shadow: none !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  background: transparent;
}
.btn {
  margin-left: 0 !important;
  font-weight: bolder !important;
}
.btn:active {
  background-color: #ffc107b0;
  box-shadow: 0 10px rgb(179, 179, 179);
  transform: translateY(4px);
}
